<footer>
  <div class="footer">
    <div class="home">
      <%= link_to home_path, class: "home-link footer-link" do %>
        <i class="fa fa-cutlery home-icon" aria-hidden="true"></i>
        <p class="home-icon">Reserve Menu</p>
      <% end %>
    </div>
  </div>
</footer>
