/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

html {
  height: 100%;
}

body {
  padding: 0;  
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}
input {
  display: inline-block;
}
li{
  list-style: none;
}

/* header */
header,.header {
  background-color: #EEEEEE;
}

.header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
}

// header-left
.home-link {
  color: #FF8856;
}

.home-icon {
  display: inline-block;
}

.home-link p {
  font-family: 'Montserrat Subrayada', sans-serif;
}

// header-right
.header-right {
  display: flex;
  align-items: center;
}

footer, .footer {
  background-color: #EEEEEE;
}

// footer
.footer {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}

.mypage-link {
  color: #777777;
}

.mypage {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #DDDDDD;
}

.mypage-icon {
  display: inline-block;
}

.mypage-link p {
  margin: 0;
}

.main {
  padding:30px;
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

// ホームページ
.search-field {
  display: inline-block;
  width: 50%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
}

.search-submit {
  display: inline-block;
  width: 50%;
  height: 40px;
  user-select: none;
  color: #fff;
  border-radius: 5px;
  background-color: #FF8856;
  border: #FF8856;
  cursor: pointer;
}

.areas {
  display: flex;
  gap: 10px;
}

.area {
  width: 100%;
  position: relative;
}

.area > a > img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
}

.area > a > p {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menus {
  display: flex;
  gap: 10px;
}

.menu {
  width: 100%;
  position: relative;
}

.menu > a > img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
}

.menu > a > p {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

// footer
.footer-link{
  font-size: 10px;
}

// ログインページ
.login {
  max-width: 1140px;
  margin: 0 auto;
  width: 600px;
  background-color: #EEEEEE;
}

.login-container {
  width: 100%;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  border: 3px solid #e2e2e2;
  border-radius: 5px;
  box-shadow:  0 5px 10px 5px #ced4da;
}

.login-field input {
  width: 100%;
  height: 40px;
  border: 3px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px
}

.actions input {
  border-radius: 3px;
  background-color: #FF8856;
  border: none;
  width: 100%;
  height: 40px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.login-container h2 {
  color: #FF8856;
}

.session {
  padding: 10px 0;
}

.session-path {
  display: inline-block;
  padding: 5px 0;
  color: #777777;
}

.password {
  text-align: left;
  margin: 5px 0;
  font-size: 15px;
  padding-left: 3px;
  color: #777777;
}

.error-ul, .error-p{
  color: #FF0000;
  font-weight: bold;
}

.error-ul {
  padding: 0;
}

// search
.search-results {
  color: #777777;
}

.restaurant-content, .restaurant-menus, .mypage {
  max-width: 980px;
  padding: 0 15px;
  margin: 5px 0;
}

.restaurant-link {
  border: solid 5px #FFCC66;
  display: flex;
}

.restaurant-image {
  width: 50%;
  object-fit: cover;
}

.search-restaurant-detail {
  padding: 0 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFEE;
}

.search-restaurant-detail p:first-child{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #FF8856;
}

.search-restaurant-detail p:nth-child(2) {
  text-align: left;
  font-size: 14px;
  color: #777777;
}

.genre {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.search-restaurant-detail p:nth-child(3) {
  text-align: left;
  font-size: 16px;
  color: #777777;
}

.search-restaurant-detail p:last-child {
  text-align: left;
  font-size: 16px;
  color:  black;
  font-weight: bold;
}

//restaurant-show
.restaurant-menus-border {
  border: solid 5px #FFCC66;
  background-color: #FFFFEE;
  padding-bottom: 20px;
}

.menu-p {
  font-weight: bold;
  color:  #FF8856;
  font-size: 25px;
}

.menu-price p {
  display: inline-block;
  font-weight: bold;
  color: black;
}

.counterOutput {
  width: 25px;
  text-align: center;
}

.restaurant-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.food {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-price {
  width: 60%;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
}

.menu-price p:first-child {
  width: 80%;
  margin: 5px 0;
}

.menu-price p:nth-child(2) {
  width: 20%;
  text-align: center;
  margin: 5px 0;
  font-size: 80%;
}

.button {
  width: 40%;
  text-align: center;
  user-select: none;
}

.plusButton, .minusButton {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 0;
  border: 2px solid orange;
  background-color: #FFCC66;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
}

.plusButton:hover, .minusButton:hover, .resetButton:hover {
	background-color: #FF9900;
  color: #F5F5F5;
}

.resetButton {
  border: 2px solid orange;
  background-color: #FFCC66;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  font-size: 12px;
  padding: 0 5px;
}

.form-list {
  margin: 10px;
}

.list {
  display: inline-block;
  font-weight: bold;
  padding: 0 10px;
}

.list label {
  padding-right: 10px;
}

.people {
  width: 40px;
  text-align: center;
}

.submit {
  padding: 5px 200px;
  font-weight: bold;
  border: 2px solid orange;
  background-color: #FFCC66;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.submit:hover {
  background-color: #FF9900;
  color: #F5F5F5;
}

// reservation-confirm
.confirm-menus {
  width: 680px;
}

.reserve-menus  {
  margin: 0 20px;
}

.reserve-menu {
  display: flex;
}

.reserve-menu p {
  display: inline-block;
  width: 20%;
}

.reserve-menu p:first-child {
  width: 40%;
  font-weight: bold;
}

.total, #total-sum {
  border: none;
  background-color: #FFFFEE;
  width: 100%;
}

.total {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid black;
}

#total-sum {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.total-money {
  display: inline-block;
}

.reserve-money {
  margin: 5px 0;
}

.date-people {
  margin-bottom: 20px;
}

.date-people p {
  display: inline-block;
  font-size: 17px;
  margin: 0;
}

.date-people p span {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 18px;
}

.flash-notice-fail {
  background-color: pink;
  margin: 0;
  text-align: center;
  padding: 5px 0;
  color: red;
  font-weight: bold;
  width: 100%;
}

.back {
  margin-top: 10px;
  display: inline-block;
  color: black;
  text-decoration: underline;
}

.back:hover {
  color: #FF9900;
}

// mypage
.mypage-main{
  position: fixed;
  top: 25%;
  left: 25%;
}

.mypage-buttons {
  display: flex;
}

.mypage-button {
  padding: 10px;
  border: 2px solid #FF9900;
  cursor: pointer;
  border-radius: 5px;
  background-color: #FFCC66;
  font-weight: bold;
  color: #444444;
}

.profile {
  background-color: #FF9900;
  color: white;
}

.myreserve {
  display: none;
}

.detail-tables {
  margin-bottom: 10px;
}

.detail-link {
  color: #136FFF;
}

.restaurant-reserve-link {
  color: #444444;
  text-decoration: underline;
}

// detail
.detail-table,.detail-tables {
  width: 780px;
  border: 3px solid #FF9900;
}

.detail-table th,.detail-table td,.detail-tables th,.detail-tables td {
  border: 1px solid #FFCC66;
  background-color: white;
}

.detail-table th,.detail-tables th {
  color: #FF9900;
}

.detail-table td,.detail,.detail-tables td {
  font-weight: bold;
  color: #444444;
}

.detail {
  font-size: 25px;
  color: #FF9900;
}

.order-menu {
  display: flex;
}

.order-menu p {
  width: 20%;
  text-decoration: underline;
}

.order-menu p:first-child {
  width: 50%;
}

.order-menu p:last-child {
  width: 30%;
}

.detail-link:hover,.restaurant-reserve-link:hover {
  color: #FF9900;
}
